<h1>JVP Login</h1>

<table>
  <tr>

    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>Login: <%= text_field_tag('Login','login')%></td>
    </tr>
  <tr>
    <td>Password:<%= password_field_tag('Password','password') %></td>

  </tr>

</table>

<%= button_tag 'Sign in'%>